<div class="container-fluid appbar">
  <nav class="d-none d-sm-block pt-3">
    <div class="d-flex justify-content-center justify-content-md-end fs-24 fs-md-24 fs-lg-46">
      <div class="d-inline px-4">Home</div>
      <div class="d-inline px-4">Proyects</div>
      <div class="d-inline px-4">Blog</div>
      <div class="d-inline px-4">About Me</div>
    </div>
  </nav>
  <div class="container-fluid d-block d-sm-none">
    <div class="d-flex justify-content-end py-4">
      <div class="hamburger-lines" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight">
        <span class="line "></span>
        <span class="line "></span>
        <span class="line "></span>
      </div>
    </div>
  </div>
  <div class="offcanvas offcanvas-end  py-3 px-3" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
      </button>
    </div>
    <div class="offcanvas-body">
      Under Construction
    </div>
  </div>
</div>





<!-- the x with animations only ccs -->
<!--
      <div class="nav-container">
        <input class="checkbox" type="checkbox"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        name="" id="" aria-controls="offcanvasRight"/>
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
      </div>
   -->
